<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>
    
    {%- include header.html -%}
    
    <div>
      <a href="#" class="icon1"><i class="ion-chevron-down"></i></a>
    </div>
  <div class="home">
    <div id="linear1" class="pattern">
    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        {{ content }}
       
    </div>

          <div>
      <a href="#" class="icon2"><i class="ion-chevron-up"></i></a>
    </div> 
      </div>
      </div>

    </main>

    {%- include footer.html -%}

  </body>

</html>
